/* ▓▒▒▒▒▒▒▒▒▒▒▒ UTILITIES CLASSES ▒▒▒▒▒▒▒▒▒▒▒▓ */
.myButton {
    color: white;
    background-color: #E76F51;
    padding: 8px 30px !important;
    border-radius: 5px;
    text-decoration: none;
}
.myButtons {
    color: black !important;
    text-decoration: none;
    border: 2px solid #E76F51;
    border-radius: 5px;
    padding: 8px 30px !important;
    transition: all .3s ease;
}
.myButtons:hover {
    background-color: #E76F51;
    color: white !important;
}
.myButton:hover {
    color: white !important;
}
.sub-text {
    color: #E0E0E0;
}
.sub-text-bike {
    color: #8f8f8f;
    letter-spacing: 1.1px;
}
.tomato-text {
    color: #E76F51;
}
.sky-text {
    color: #23A6F0;
}


/* ▓▒▒▒▒▒▒▒▒▒▒▒ HEADER SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
header {
    background-color: #264653;
    /* height: 100vh; */
    width: 100%;
}
.my-nav {
    background-color: #264653; 
}
.login-btn {
     margin-left: 80px;
}
.head {
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.header-info h1 {
    font-size: 48px;
}
.header-info p{
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
/* ▓▒▒▒▒▒▒▒▒▒▒▒ FETURED_BIKE SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.feture-text {
    margin-bottom: 7rem !important;
    padding-top: 3rem !important;
}
.feture-text h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.feture-text p{
    letter-spacing: 2px;
    font-weight: bold;
}


/* ▓▒▒▒▒▒▒▒▒▒▒▒ LATEST_NEWS SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.letest-news {
    margin-top: 15rem;
}
.letest-news-content h1{
    font-size: 48px;
    margin-top: 7rem;
}
.myCard {
    border-radius: 10px !important;
}

/* ▓▒▒▒▒▒▒▒▒▒▒▒ HAPPY CLIENT SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.testimonial {
    margin-top: 15rem;
}
.testimonial-img {
    width: 130px;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}
.icon img {
    display: block;
    margin: 0 auto;
}
.card-body {
    padding: 1rem;
}
.testimonial h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.testimonial-card {
    padding: 1rem 5.5rem;
}

/* ▓▒▒▒▒▒▒▒▒▒▒▒ FAQ SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.faq {
    margin-top: 15rem;
}
.faq h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.faq-img img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

/* ▓▒▒▒▒▒▒▒▒▒▒▒ EXTRA_PART SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.bonus-carousel {
    margin-top: 15rem;
}
.bonus-carousel h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 7rem;
}

/* ▓▒▒▒▒▒▒▒▒▒▒▒ EXTRA_PART-2.0 SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.contact {
    margin-top: 15rem;
}
.contact-input input{
    width: 100%;
    height: 70px;
    padding: 0 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #26465356;
    background-color: rgba(238, 238, 238, 0.404);
}
.contact-input textarea {
    height: 140px;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #26465356;
}

.contact h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 7rem;
}

/* ▓▒▒▒▒▒▒▒▒▒▒▒ FOOTER SECTION ▒▒▒▒▒▒▒▒▒▒▒▓ */
.download img{
    display: block;
    margin-left: auto;
}
.footer-link img{
    width: 80%;
}